@model IEnumerable<GestaoAutomotiva.Models.Cliente>

<h2 class="text-light">Lista de Clientes</h2>

<a href="@Url.Action("Create", "Cliente")" class="btn btn-outline-light mb-3">Adicionar Novo Cliente</a>

<form method="get" class="mb-3 d-flex gap-2">
    <input type="text" name="busca" class="form-control" placeholder="Buscar..." value="@Context.Request.Query["busca"]" style="text-transform:uppercase;" />
    <button type="submit" class="btn btn-outline-light">Pesquisar</button>
    <a asp-action="Index" class="btn btn-secondary">Limpar</a>
</form>

<div class="table-container">
    <table class="table table-dark table-hover mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Endereco</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.CPF</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@cliente.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@cliente.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>

        <nav class="mt-4">
        <tfoot>
            <tr>
                <td colspan="6" class="text-center bg-dark">
                    <nav class="mt-3">
                        <ul class="pagination justify-content-center mb-0">
                                @for (int i = 1; i <= (int)ViewBag.TotalPaginas; i++)
                                {
                                <li class="page-item @(i == (int)ViewBag.PaginaAtual ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i, busca = ViewBag.BuscaNome })">
                                            @i
                                    </a>
                                </li>
                                }
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
        </nav>
    </table>
</div>
