@model List<GestaoAutomotiva.Models.Etapa>
@{
    ViewData["Title"] = "Gerenciar Etapas";
}

<h2 class="text-light text-center mb-4">📝 Gerenciar Etapas de Produção</h2>

<div class="mb-3">
    <a href="@Url.Action("Create", "Etapa")" class="btn btn-outline-light mb-3">Adicionar Nova Etapa</a>
</div>

<div class="table-container">
    <table class="table table-dark table-hover mt-3">
        <thead>
            <tr class="text-white">
                <th>Nome</th>
                <th>Ordem</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var etapa in Model)
            {
                <tr>
                    <td>@etapa.Nome</td>
                    <td>@etapa.Ordem</td>
                    <td>
                        <a href="@Url.Action("Edit", "Etapa", new { id = etapa.Id })" class="btn btn-warning btn-sm">Editar</a>
                        <form action="@Url.Action("Delete", "Etapa", new { id = etapa.Id })" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>